.breadc{
    background-color: #b697f0;
}

.breadc h4{
    text-align: center;
    color: #fffeee;
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
}

.form{
    background-color: #fef9ea;
    padding: 20px;
}
.home{
    padding: 20px;
    text-align: center;
}